.row {
  margin: 40px 0;
  width: 100%;
  height: 20vh;
}

.col {
  width: 44%;
  text-align: center;
  float: left;
  /* color: gray; */
  /* background-color: rgb(196, 188, 188); */
}

.col-1,
.col-2 {
  margin-left: 3%;
  margin-right: 3%;
}
